paddingY(prefix)
    for num in (0..12)
        {prefix}\\:py-{num}
            padding-top: (num * 1em)
            padding-bottom: (num * 1em)

paddingX(prefix)
    for num in (0..12)
        {prefix}\\:px-{num}
            padding-left: (num * 1em)
            padding-right: (num * 1em)

marginX(prefix)
    for num in (0..12)
        {prefix}\\:mx-{num}
            margin-left: (num * 1em)
            margin-right: (num * 1em)

marginY(prefix)
    for num in (0..12)
        {prefix}\\:my-{num}
            margin-top: (num * 1em)
            margin-bottom: (num * 1em)


.boxSizzing
    box-sizing: border-box

cols(prefix)
    {prefix}\\:col-auto
        width: auto
        @extends .boxSizzing
    for num in (1..12)
        {prefix}\\:col-{num}
            width: ((100%/12) * num)
            @extends .boxSizzing

.w-full
    width 100%
    max-width 100vw
    @extend .boxSizzing

.container
    margin 0 auto
    @extend .boxSizzing

for num in (0..12)
    .py-{num}
        padding-top: (num * 1em)
        padding-bottom: (num * 1em)

for num in (0..12)
    .px-{num}
        padding-left: (num * 1em)
        padding-right: (num * 1em)

.col-auto
    width: auto
    @extend .boxSizzing

for num in (1..12)
    .col-{num}
        width: ((100%/12) * num)
        @extend .boxSizzing

for num in (0..12)
    .mx-{num}
        margin-left: (num * 1em)
        margin-right: (num * 1em)

    .my-{num}
        margin-top: (num * 1em)
        margin-bottom: (num * 1em)

@media only screen and (min-width 310px)   
    .container
        width: 100vw

    cols(".sm")

    paddingX(".sm")

    paddingY(".sm")

    marginY(".sm")

    marginX(".sm")
    

@media only screen and (min-width 768px)
    .container
        width: 768px

    cols(".md")

    paddingX(".md")
    
    paddingY(".md")

    marginY(".md")

    marginX(".md")
    

@media only screen and (min-width 960px)
    .container
        width: 768px

    cols(".lg")

    paddingX(".lg")
    
    paddingY(".lg")

    marginY(".lg")

    marginX(".lg")


@media only screen and (min-width 1200px)
    .container
        width: 1200px

    cols(".xl")

    paddingX(".xl")
    
    paddingY(".xl")

    marginY(".xl")

    marginX(".xl")

    
