<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="main">
        <header class="w-full">
            <section data-rellax-speed="8" class="main_header-skew parallax w-full">
                <section class="w-full">
                    <div class="container">
                        <p class="text-justify md:text-center title-h4 font-normal color-white">
                            uma seleção de produtos
                        </p>
                        <h2 class="text-justify md:text-center title-h2 color-white">
                            especial para você
                        </h2>
                        <p class="text-default color-white text-justify md:text-center py-1 md:py-2">
                            <small>
                                Todos os produtos desta lista foram selecionados a partir da sua navegação. Aproveite!
                            </small>
                        </p>
                    </div>
                </section>
                <section class="w-full">
                    <div class="container display-flex align-items justify-center gap position-relative flex-wrap">
                        <a class="btn btn-default sm:col-5 md:col-auto sm:py-1 text-center" href="Javascript: void(0)">
                            Conheça a Linx
                        </a>
                        <a class="btn btn-default sm:col-5 md:col-auto sm:py-1 text-center" href="Javascript: void(0)">
                            Ajude o algorítimo
                        </a>
                        <a class="btn btn-default sm:col-5 md:col-auto sm:py-1 text-center" href="Javascript: void(0)">
                            Seus produtos
                        </a>
                        <a class="btn btn-default sm:col-5 md:col-auto sm:py-1 text-center" href="Javascript: void(0)">
                            Compartilhe
                        </a>
                    </div>
                </section>
            </section>
        </header>
        <section class="w-full">
            <section class="container">
                <section class="w-full display-flex flex-wrap">
                    <section class="sm:col-12 lg:col-7 sm:py-1 md:py-0">
                        <section class="col w-full px-1 py-0">
                            <h5 class="text-justify color-gray title-h5 py-1">
                                Ajude o algorítimo a ser mais certeiro
                            </h5>
                            <p class="text-default color-gray">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, commodi sequi ratione, sed voluptatem dolor amet a ex est eaque mollitia explicabo, quasi harum vel illum tempora aliquid ipsum alias.
                                Est quisquam autem laborum consectetur, placeat praesentium nisi voluptatibus expedita vitae fuga, temporibus earum explicabo quas? Impedit animi ea exercitationem eligendi sequi harum praesentium laudantium modi! Aspernatur ipsum veritatis eligendi?
                            </p>
                            <p class="text-default color-gray py-1">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus totam assumenda quis dolore. Numquam error facilis voluptatum molestias, labore atque asperiores provident quidem alias deserunt ullam illo dolor corrupti iusto?
                                Aut rerum a pariatur culpa molestiae laboriosam doloremque dolore reprehenderit deleniti at, rem velit sint impedit nam? Quae doloremque laborum rerum id, nulla, voluptatem ullam, dolore nam vel ea officia.
                            </p>
                        </section>
                    </section>
                    <section class="sm:col-12 lg:col-5 lg:py-1">
                        <section class="col w-full px-1 py-1">
                            <form class="w-full">
                                <section class="w-full row-form">
                                    <label class="w-full px-1 text-default color-gray cursor-pointer" for="name">
                                        Seu nome:
                                    </label>
                                    <section class="w-full py-0 px-1">
                                        <input id="name" class="w-full px-1 py-0 text-default" type="text">
                                    </section>
                                </section>
                                <section class="w-full row-form">
                                    <label class="w-full px-1 text-default color-gray cursor-pointer" for="email">
                                        E-mail:
                                    </label>
                                    <section class="w-full py-0 px-1">
                                        <input id="email" class="w-full px-1 py-0 text-default" type="email">
                                    </section>
                                </section>
                                <section class="w-full row-form">
                                    <label class="w-full px-1 text-default color-gray cursor-pointer" for="cpf">
                                        CPF:
                                    </label>
                                    <section class="w-full py-0 px-1">
                                        <input id="cpf" class="w-full px-1 py-0 text-default" type="text">
                                    </section>
                                </section>
                                <section class="w-full row-form">
                                    <section class="display-flex">
                                        <div class="px-1 display-flex">
                                            <input name="genrer" id="male" class="hide" type="radio">
                                            <label class="checkbox-label" for="male">
                                                <i class="checkbox-label_dots"></i>
                                            </label>
                                            <label class="color-gray cursor-pointer" for="male">
                                                Masculino
                                            </label>
                                        </div>
                                        <div class="px-1 display-flex">
                                            <input name="genrer" id="female" class="hide" type="radio">
                                            <label class="checkbox-label" for="female">
                                                <i class="checkbox-label_dots"></i>
                                            </label>
                                            <label class="color-gray cursor-pointer" for="female">
                                                Feminino
                                            </label>
                                        </div>
                                    </section>
                                </section>
                                <section class="w-full row-form">
                                    <section class="w-full py-0 px-1">
                                        <button type="submit" class="btn btn-submit py-1 w-full">
                                            ENVIAR
                                        </button>
                                    </section>
                                </section>
                            </form>
                        </section>
                    </section>
                </section>
                <section class="w-full md:py-3">
                    <section class="w-full divider-box">
                        <span class="divider-box_label">
                            Sua seleção especial
                        </span>
                    </section>
                </section>
            </section>
        </section>
        <section class="w-full">
            <section class="container">
                <section id="products" class="w-full products display-flex flex-wrap">
                    <section id="template" class="product lg:col-3">
                        <figure class="product_image">
                            <img data-src="{image}" alt="{name}">
                        </figure>
                        <p class="product_name color-gray">
                            {name}
                        </p>
                        <p class="product_description color-gray">
                            {description}
                        </p>
                        <small class="product_small-val color-gray">
                            De: {old_price}
                        </small>
                        <p class="product_price color-gray">
                            Por: {price}
                        </p>
                        <small class="product_small-val color-gray">
                            ou {installments}x de R$ {installments_price}
                        </small>
                        <button class="btn btn-submit py-1 w-full">
                            Comprar
                        </button>
                    </section>
                </section>
                <section class="w-full py-2 display-flex align-items justify-center">
                    <div class="md:col-5 px-1">
                        <button id="next" class="btn btn-submit py-1 w-full">
                            Ainda mais produtos aqui!
                        </button>
                    </div>
                </section>
            </section>
        </section>
        <footer class="w-full">
            <section class="container">
                <section class="w-full md:py-2">
                    <section class="w-full divider-box">
                        <span class="divider-box_label">
                            Compartilhe a novidade
                        </span>
                    </section>
                </section>  
                <section class="w-full">
                    <p class="text-default text-center color-gray">
                        Quer que seus amigos também ganhem a lista personalizada deles? Preencha agora!
                    </p>
                </section> 
                <section class="w-full py-1">
                    <form class="w-full lg:py-1 position-relative z-index-9">
                        <section class="w-full display-flex align-items justify-center flex-wrap">
                            <div class="px-1 sm:col-5 display-flex">
                                <div class="w-full">
                                    <label class="w-full px-1 text-default color-gray cursor-pointer" for="email">
                                        Nome do seu amigo::
                                    </label>
                                    <section class="w-full py-0 px-1">
                                        <input id="email" class="w-full px-1 py-0 text-default" type="email">
                                    </section>
                                </div>
                            </div>
                            <div class="px-1 md:py-3 sm:col-5 display-flex">
                                <div class="w-full">
                                    <label class="w-full px-1 text-default color-gray cursor-pointer" for="email">
                                        E-mail:
                                    </label>
                                    <section class="w-full py-0 px-1">
                                        <input id="email" class="w-full px-1 py-0 text-default" type="email">
                                    </section>
                                </div>
                            </div>
                            <div class="px-1 sm:col-5 display-flex">
                                <button type="submit" class="btn btn-submit py-1 w-full">
                                    ENVIAR
                                </button>
                            </div>
                        </section>
                    </form>
                </section>
            </section>
            <section class="w-full footer-disclaimer display-flex align-items justify-center">
                <img data-rellax-speed="4" class="footer-disclaimer_parallax parallax" src="../assets/apple-pro-display-xdr-5k-jh.jpg" alt="">
                <section class="container">
                    <p class="text-center my-0 footer-disclaimer_text">
                        Testando suas habilidades em HTML, CSS e JS.<br />
                        Linx Impulse<br />
                        2019
                    </p>
                </section>
            </section>
        </footer>
    </main>
</body>
</html>